langchain
langchain-core
langchain-google-genai
langchain-groq
langgraph
python-dotenv
ipykernel
langsmith
langgraph-cli[inmem]
openaq
ruff

geopandas
osmnx
pytest
pytest-mock
pre-commit
geopy
requests
